body {
  margin: 0px;
}


img {
  display: block;
  position: absolute;
  width: 100%;
  margin-top: 100px;
}

.filtergroup {
  display: inline-block;
}

#imagecontainer {
  position: relative;
}

#toggleall {
  background-color: #363636;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 15px;
}

#toggleall:hover {
  background-color: #363636;
}

#emptyfloorplan {
  z-index: 1;
}

#redcircle {
  z-index: 2;
}

#greensquare {
  z-index: 3;
}

#purpletriangle {
  z-index: 4;
}

#filterbar {
  position:fixed;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  background-color: #FF6600;
  padding-top: 15px;
  padding-bottom: 15px;
}
